@model OverdeRheinKraanKeuringen.Models.Opdracht

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opdracht @Html.DisplayFor(model => model.OpdrachtNummer)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WerkInstructie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WerkInstructie)
        </dd>
    </dl>

    <table id="checklist">
        <tr>
            <th colspan="2">Zichtbare draadbreuken</th>
            <th>Slijtage van de buitenste kabels</th>
            <th>Roest en corrosie</th>
            <th>Verminderde kabeldiameter</th>
            <th rowspan="2">Positie van de meetpunten:</th>
            <th>Totale beoordeling</th>
            <th>Beschadiging en vervorming</th>
        </tr>

        <tr>
            <th>Aantal lengte 6D:</th>
            <th>Aantal lengte 30D: </th>
            <th>Mate van beschadiging:</th>
            <th>Mate van beschadiging:</th>
            <th>%</th>
            <th>Mate van beschadiging:</th>
            <th>Type:</th>
        </tr>



        <tr>
            @foreach (var checklist in Model.Kabelchecklists)
            {
                <td>
                    @Html.DisplayFor(model => checklist.Breuk6D)
                </td>
                <td>
                    @Html.DisplayFor(model => checklist.Breuk30D)
                </td>
                <td>
                    @Html.DisplayFor(model => checklist.BeschadigingBuitenzijde)
                </td>
                <td>
                    @Html.DisplayFor(model => checklist.BeschadigingRoestCorrosie)
                </td>
                <td>
                    @Html.DisplayFor(model => checklist.VerminderdeKabeldiameter)
                </td>
                <td>
                    @Html.DisplayFor(model => checklist.PositieMeetpunten)
                </td>
                <td>
                    @Html.DisplayFor(model => checklist.BeschadigingTotaal)
                </td>
                <td>
                    @Html.DisplayFor(model => checklist.TypeBeschadigingEnVervormingen)
                </td>
            }

        </tr>


        <td colspan="8"></td>

        <tr>
            <th colspan="2">Datum:</th>
            <td colspan="2"> @Html.DisplayFor(model => model.DatumUitvoering)</td>
            <th colspan="2">Handtekening:</th>
            <td colspan="2"> @Html.DisplayFor(model => model.Image)</td>
        </tr>
        <tr>
            <th colspan="2">kabelleverancier:</th>
            <td colspan="2">@Html.DisplayFor(model => model.KabelLeverancier)</td>
            <th colspan="2">Aantal bedrijfsuren:</th>
            <td colspan="2">@Html.DisplayFor(model => model.Bedrijfsuren)</td>
        </tr>
        <tr>
            <th colspan="2">overige waarnemingen:</th>
            <td colspan="2">@Html.DisplayFor(model => model.Waarnemingen)</td>
            <th colspan="2">Redenen voor het afleggen:</th>
            <td colspan="2">@Html.DisplayFor(model => model.AflegRedenen)</td>
        </tr>
    </table>

    

</div>
<p>
    @Html.ActionLink("Add Checklist", "Create", "Kabelchecklist", new { opdrachtNummer = Model.OpdrachtNummer }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpdrachtNummer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
