@model OverdeRheinKraanKeuringen.Models.Kabelchecklist

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kabelchecklist</h4>
    <hr />
    <table id="checklist">
        <tr>
            <th colspan="2">Zichtbare draadbreuken</th>
            <th>Slijtage van de buitenste kabels</th>
            <th>Roest en corrosie</th>
            <th>Verminderde kabeldiameter</th>
            <th rowspan="2">Positie van de meetpunten:</th>
            <th>Totale beoordeling</th>
            <th>Beschadiging en vervorming</th>
        </tr>

        <tr>
            <th>Aantal lengte 6D:</th>
            <th>Aantal lengte 30D: </th>
            <th>Mate van beschadiging:</th>
            <th>Mate van beschadiging:</th>
            <th>%</th>
            <th>Mate van beschadiging:</th>
            <th>Type:</th>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.Breuk6D)</td>
            <td>@Html.DisplayFor(model => model.Breuk30D)</td>
            <td>@Html.DisplayFor(model => model.BeschadigingBuitenzijde)</td>
            <td>@Html.DisplayFor(model => model.BeschadigingRoestCorrosie)</td>
            <td>@Html.DisplayFor(model => model.VerminderdeKabeldiameter)</td>
            <td>@Html.DisplayFor(model => model.PositieMeetpunten)</td>
            <td>@Html.DisplayFor(model => model.BeschadigingTotaal)</td>
            <td></td>
        </tr>


        <td colspan="8"></td>

        <tr>
            <th colspan="2">Datum:</th>
            <td colspan="2"></td>
            <th colspan="2">Handtekening:</th>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th colspan="2">kabelleverancier:</th>
            <td colspan="2"></td>
            <th colspan="2">Aantal bedrijfsuren:</th>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th colspan="2">overige waarnemingen:</th>
            <td colspan="2"></td>
            <th colspan="2">Redenen voor het afleggen:</th>
            <td colspan="2"></td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KabelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
